.currentGroup {
border: 2px solid #DDDDDD;
background-color: aqua;	
}

.groups{
	margin: 30px 30px 30px 10px;
}

.group{
	margin: 30px 30px 30px 10px;
}

.loader{
position: fixed;
z-index:6;
bottom: top;
right: 20px;
}


.content {
position: relative;
margin-left: 250px;
margin-top: 25px;
margin-right: 20px;
margin-bottom: 20px;
min-height: 1000px;
padding: 20px;
padding-top: 40px;
border-radius: 10px;
border: 2px solid #DDDDDD;
text-align: center;
}

.tableGoods {
border: 2px solid #DDDDDD;
/*border-bottom: 2px solid #DDDDDD;*/
margin: auto;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

.catalog {
position: absolute;
top: 90px;
left: 0;
border-top: 2px solid #DDDDDD;
border-right: 2px solid #DDDDDD;
border-bottom: 2px solid #DDDDDD;
border-radius: 0 10px 10px 0;
padding: 0 10px 0 10px;
cursor: pointer;
}

.basket {
position: fixed;
z-index:5;
bottom: 0;
right: 20px;
/*background: url(minicart.png) no-repeat #FFFFFF;*/
background-position: left center;
border: 2px solid #DDDDDD;
border-radius: 10px;
margin: 20px;
padding: 10px;
display: inline-block;
cursor: pointer;
}

/* tables */
table.tableGoods {
font-family:arial;
background-color: #CDCDCD;
margin:10px 0pt 15px;
font-size: 8pt;
width: 100%;
text-align: left;
}
table.tableGoods thead tr th{
background-color: #e6EEEE;
border: 1px solid #FFF;
font-size: 8pt;
padding: 4px;
}
table.tableGoods thead tr .header {
background-image: url(bg.gif);
background-repeat: no-repeat;
background-position: center right;
cursor: pointer;
}
table.tableGoods tbody td {
color: #3D3D3D;
padding: 4px;
background-color: #FFF;
vertical-align: top;
}
table.tableGoods tbody tr.odd td {
background-color:#F0F0F6;
}
table.tableGoods thead tr .headerSortUp {
background-image: url(asc.gif);
}
table.tableGoods thead tr .headerSortDown {
/*background-image: url(desc.gif);*/
}
table.tableGoods thead tr .headerSortDown, table.tableGoods thead tr .headerSortUp {
background-color: #8dbdd8;
}

/* tables */
table.basketGoods {
font-family:arial;
background-color: #CDCDCD;
margin:10px 0pt 15px;
font-size: 8pt;
width: 100%;
text-align: left;
}
table.basketGoods thead tr th{
background-color: #e6EEEE;
border: 1px solid #FFF;
font-size: 8pt;
padding: 4px;
}
table.basketGoods thead tr .header {
background-image: url(bg.gif);
background-repeat: no-repeat;
background-position: center right;
cursor: pointer;
}
table.basketGoods tbody td {
color: #3D3D3D;
padding: 4px;
background-color: #FFF;
vertical-align: top;
}
table.basketGoods tbody tr.odd td {
background-color:#F0F0F6;
}
table.basketGoods thead tr .headerSortUp {
background-image: url(asc.gif);
}
table.basketGoods thead tr .headerSortDown {
/*background-image: url(desc.gif);*/
}
table.basketGoods thead tr .headerSortDown, table.tableGoods thead tr .headerSortUp {
background-color: #8dbdd8;
}
